.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 90vh;
    width: 90vw;
    border-radius: 30px;
    background-color: burlywood;
}

.title-div {
    position: top;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    font-size: min(5vh, 5vw);
    --background-color: black;
}

.my-lists-text {
color: color-mix(in srgb, #fff 85%, #df8c0f);
  font-size: min(15vh, 15vw);
  font-weight: 900;
  text-shadow:
    -0.0075em 0.0075em 0 color-mix(in srgb, #fff 94%, #df8c0f),
    0.005em 0.005em 0 color-mix(in srgb, #fff 60%, #df8c0f),
    0.01em 0.01em 0 color-mix(in srgb, #fff 62%, #df8c0f),
    0.015em 0.015em 0 color-mix(in srgb, #fff 64%, #df8c0f),
    0.02em 0.02em 0 color-mix(in srgb, #fff 66%, #df8c0f),
    0.025em 0.025em 0 color-mix(in srgb, #fff 68%, #df8c0f),
    0.03em 0.03em 0 color-mix(in srgb, #fff 70%, #df8c0f),
    0.035em 0.035em 0 color-mix(in srgb, #fff 72%, #df8c0f);
}

.separation-line {
    background-color: #df8c0f;
    width: 100%;
    height: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}